Django>=4.0,<5.0
psycopg2-binary
sqlalchemy
langchain-core
langchain-community
langchain-experimental
langchain-openai
python-dotenv
matplotlib
# Add gunicorn or whitenoise later for deployments